.intro {
    max-width: 650px;
    padding: 84px 0 62px;

    @media (max-width: 768px) {
        padding: 60px 0 42px;
    }

    h1 {
        font-size: clamp(3.5rem, 7.5vw, 7.2rem);
        line-height: .89;
        letter-spacing: -.085em;
        margin: 0;
        font-weight: 600;

        em {
            color: var(--coral);
            font-style: normal;

            @media (max-width: 768px) {
                font-size: 4.4rem;
            }
        }
    }

    p.intro-copy {
        color: var(--muted);
        max-width: 400px;
        line-height: 1.5;
        margin: 30px 0 0;
        font-size: 15px;
    }

}
